* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-color: lightgrey;
    font-family: sans-serif;
}

.background-upbar {
    height: 120px;
    width: 100%;
    background-color: green;
    position: absolute;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 94vh;
    position: relative;
    top: 3vh;
}

.upbar {
    background-color: lightgrey;
    width: 100%;
    height: 80px;
}

.upbar .icone {
    margin-right: 20px;
}

.upbar .icone i {
    font-size: 20px;
    padding: 0 5px;
}

/* stilizzazione sezione contatti */

.contacts-section {
    height: 100%;
    width: 32%;
    float: left;
}

.contacts-section .upbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-section .upbar img {
    width: 50px;
    margin-left: 15px;
}

.contacts-section .notifiche {
    height: 90px;
    background-color: lightgreen;
    display: flex;
    align-items: center;
}

.contacts-section .notifiche i {
    font-size: 27px;
    padding: 12px 10px;
    background-color: white;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 10px;
}

.contacts-section .notifiche a {
    font-size: 12px;
}

.contacts-section .cerca-contatto {
    width: 100%;
    background-color: lightgrey;
    padding: 5px;
}

.cerca-contatto input {
    width: 100%;
    padding: 5px 5px;
    border: none;
}

.barra-contatti {
    height: 413px;
    overflow: auto;
}

.barra-contatti .contatto {
    background-color: white;
    position: relative;
    border-bottom: 1px solid lightgrey;
}

.barra-contatti .contatto:hover {
    background-color: lightgrey;
}

.barra-contatti .contatto img {
    width: 70px;
    padding: 7px;
    float: left;
}

.contatto .nome-contatto {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
}

.contatto span {
    font-size: 11px;
}

span.orario {
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

/* stilizzazione sezione messaggistica */

.message-section {
    height: 100%;
    width: 68%;
    float: left;
    background-color: grey;
}

.message-section .upbar {
    border-left: 1px solid grey;
}
